---
import Switch from '../components/Switch.astro';

const tipos1 = [
"LA EMPRESA SOLICITA MEDIOS DE PAGOS VIRTUALES PARA CONTRATAR SUS SERVICIOS O PRODUCTOS?",
"LA EMPRESA SOLICITA TARJETAS DE CRÉDITO O DÉBITO PARA CONTRATAR SUS SERVICIOS O PRODUCTOS?",
"LA EMPRESA SOLICITA BILLETERA VIRTUAL DE CRYPTOMONEDAS PARA CONTRATAR SUS SERVICIOS O PRODUCTOS?"
];
const tipos2 = [
"DESPLAZAMIENTOS",
"RUTINAS",
"VIAJES INTERNACIONALES O NACIONALES",
"REGISTRO DE LUGARES A LOS QUE FRECUENTA HABITUALMENTE EL INTERESADO."
];
const tipos3 = [
"HISTORIA CLÍNICA",
"INFORMES DE SALUD",
"ENFERMEDADES",
"RECETAS",
"APTOS MÉDICOS",
"SALUD MENTAL",
"SALUD FÍSICA",
"INFORMES PSICOLÓGICOS",
"INFORMES O ACTIVIDADES RELACIONADAS AL COACHING"
];
const tipos4 = [
"HUELLA DACTILAR",
"IRIS",
"VOZ",
"DESCRIPTORES DE PERSONALIDAD",
"DATOS GENÉTICOS",
"OTROS"
];
const tipos5 = [
"RAZA",
"ETNIA",
"POSICIÓN POLÍTICA",
"IDEOLOGÍA",
"AFILIACIÓN SINDICAL",
"RELIGIÓN",
"ORIENTACIÓN SEXUAL",
"CONDENAS PENALES"
];
const tipos6 = [
"IP",
"MAC",
"ID",
"TELÉFONO",
"CORREO ELECTRÓNICO",
"OTROS"
];
const tipos7 = [
"LA EMPRESA INFORMA LOS TÉRMINOS Y CONDICIONES Y LA POLÍTICA DE PRIVACIDAD A SUS INTERESADOS?",
"LA EMPRESA INFORMA LOS TÉRMINOS Y CONDICIONES Y LA POLÍTICA DE PRIVACIDAD A SUS INTERESADOS DE MANERA ACCESIBLE?",
"LA EMPRESA VERIFICA Y BRINDA LAS GARANTÍAS PARA QUE EL INTERESADO PRESTE CONSENTIMIENTO, LIBRE Y ÚNIVOCO?",
"LA EMPRESA REALIZA TRANSFERENCIAS O CESIONES DE DATOS PERSONALES DE LOS INTERESADOS?"
];
---

<section class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
	<div class="flex m-auto">
		<h1 class="p-6 text-4xl font-extrabold m-auto bg-white dark:bg-gray-800 rounded-lg shadow-md"> AUDITORÍA EXTERNA EN MATERIA DE DATOS PERSONALES PARA TODOS LOS INTERESADOS, CLIENTES O USUARIOS</h1>
	</div>
	  <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">CONTRATACIÓN DE SERVICIOS O PRODUCTO</h2>
  <form action="/submit" method="post">
		<div class="">
			{tipos1.map((pregunta, index) => (
				<Switch id={`switch-${index}`} label={pregunta} />
			))}
		</div>
		<div class="flex items-center justify-between my-4">
			<span class="text-gray-700 dark:text-gray-400">LA EMPRESA SOLICITA DATOS DE LOCALIZACIÓN O GEOLOCALIZACIÓN PARA CONTRATAR SUS SERVICIOS O PRODUCTOS?</span>
		</div>
    <div class="ml-4">
		{tipos2.map((pregunta, index) => (
      <Switch id={`switch-${index}`} label={pregunta} />
    ))}
		</div>
		<div class="flex items-center justify-between my-4">
			<span class="text-gray-700 dark:text-gray-400">LA EMPRESA SOLICITA DATOS DE SALUD CONTRATAR SUS SERVICIOS O PRODUCTOS?</span>
		</div>
		<div class="ml-4">
			{tipos3.map((pregunta, index) => (
				<Switch id={`switch-${index}`} label={pregunta} />
			))}
		</div>
		<div class="flex items-center justify-between my-4">
			<span class="text-gray-700 dark:text-gray-400">LA EMPRESA SOLICITA DATOS BIOMÉTRICOS Y GENÉTICOS PARA CONTRATAR SUS SERVICIOS O PRODUCTOS?</span>
		</div>
		<div class="ml-4">
			{tipos4.map((pregunta, index) => (
				<Switch id={`switch-${index}`} label={pregunta} />
			))}
		</div>
		<div class="flex items-center justify-between my-4">
			<span class="text-gray-700 dark:text-gray-400">LA EMPRESA SOLICITA DATOS SENSIBLES PARA CONTRATAR O ACCEDER A SUS SERVICIOS O PRODUCTOS?</span>
		</div>
		<div class="ml-4">
			{tipos5.map((pregunta, index) => (
				<Switch id={`switch-${index}`} label={pregunta} />
			))}
		</div>
		<div class="flex items-center justify-between my-4">
			<span class="text-gray-700 dark:text-gray-400">LA EMPRESA TRATA DATOS PERSONALES DE IDENTIFICADORES AL CONTRATAR O NO CONTRATAR A SUS SERVICIOS O PRODUCTOS?</span>
		</div>
		<div class="ml-4">
			{tipos6.map((pregunta, index) => (
				<Switch id={`switch-${index}`} label={pregunta} />
			))}
		</div>
		{tipos7.map((pregunta, index) => (
			<Switch id={`switch-${index}`} label={pregunta} />
		))}

    <button
      type="submit"
      class="mt-4 w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >
      Enviar
    </button>
  </form>
</section>
